<div class="header">
    <div class="bg-dark">
        <app-navbar></app-navbar>
        <br><br>
        <app-progress-bar *ngIf="loading"></app-progress-bar>

        <div *ngIf="!loading" class="container" style="font-family: TrebuchetMS;">
            <div class="container-fluid principal-title" style="text-align: left;">
                <h3 class="mt-4" style=" font-family: 'VAGRoundedStd-Bold'"><b> Cotizador en linea</b></h3>
                <h6 style="font-family: TrebuchetMS;">  Seguro educativo</h6>
            </div>
            <div class="container-fluid accordion-header-yellow">
            </div>

            <div class="accordion-container">
                <div class="accordion mt-4" id="accordionExample">
        
                    <form [formGroup]="form" (ngSubmit)="addProduct()" class="form-accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne" >                        
                                <button class="accordion-button cmp-accordion__button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="cmp-accordion__number title-h1">01</span> Datos personales del solicitante
                                </button>
                            </h2>                    
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Tipo de documento <span
                                                    class="text-warning">*</span></label>                                       
                                                <select class="form-select" id="exampleSelect1" formControlName="principal_document_type"
                                                        placeholder="Tipo de documento" required>
                                                    <option value="0" selected hidden disabled class="select-placeholder" >Seleccione...</option>
                                                    <option *ngFor="let item of listDocumentTypes" value="{{ item.id }}">{{ item.name }}</option>
                                                </select>
                                                <span *ngIf="isDisabledDocumentType">
                                                    <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                </span>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Número de documento <span
                                                        class="text-warning">*</span></label>
                                                <input formControlName="principal_document_number" type="text" class="form-control"
                                                    placeholder="Ingrese numero de documento">
                                                    <span *ngIf="isDisabledDocumentNumber">
                                                        <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                    </span>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">&nbsp; </label><br>
                                                <button type="button" class="btn btn-yo" 
                                                (click)="searchPrincipalInfo()">Buscar cotizaciones</button>
                                            </div>                                            
                                            <div class="col-8">
                                                <label class="form-label mt-4" for="inputValid">Nombres y Apellido <span
                                                        class="text-warning">*</span></label>
                                                <input formControlName="principal_name" type="text" class="form-control" placeholder="Ingrese el nombre completo del titular" >
                                                <span *ngIf="isDisabledName">
                                                    <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                </span>
                                            </div>   
                                            <div class="col-4">                                        
                                            </div> 
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Correo Electronico <span class="text-warning">*</span></label>
                                                <input formControlName="principal_mail" type="email" class="form-control" placeholder="Ingrese un correo valido">
                                                <span *ngIf="isDisabledEmail">
                                                    <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                </span>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Celular <span class="text-warning">*</span></label>
                                                <input formControlName="principal_phone" type="number" class="form-control" placeholder="Ingrese un número de telefono">
                                                <span *ngIf="isDisabledPhone">
                                                    <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                </span>
                                            </div>
                                            <div class="col-4">
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="container-fluid mt-5 text-warning">
                                        <p><small> Los campos con <strong>*</strong> son de caracter obligatorio</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button cmp-accordion__button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="cmp-accordion__number title-h1">02</span>Datos beneficiario seguro educativo
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-8">
                                                <label class="form-label mt-4" for="inputValid">Nombres Y Apellidos <span
                                                        class="text-warning">*</span></label>
                                                <input formControlName="beneficiary_name" type="text" class="form-control"
                                                    placeholder="Ingrese el nombre completo" >
                                                    <span *ngIf="isDisabledBenName">
                                                        <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                    </span>
                                            </div>
                                            <div class="col-4">                                        
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Fecha de nacimiento <span
                                                        class="text-warning">*</span></label>
                                                <input formControlName="beneficiary_birthdate" type="date" class="form-control"
                                                    id="beneficiary_birthdate" [max]="now" placeholder="Ingrese fecha de nacimiento"
                                                    (blur)="ageCalculatorBeneficiary()">
                                                    <span *ngIf="isDisabledBenBirth">
                                                        <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                    </span>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Edad</label>
                                                <input type="number" formControlName="beneficiary_age" class="form-control disabled" id="inputValid">
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Sexo <span class="text-warning">*</span></label>
            
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="beneficiary_gender" id="male"
                                                        value="male" formControlName="beneficiary_gender">
                                                    <label class="form-check-label" for="male">
                                                        <small>Masculino</small>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="beneficiary_gender" id="female"
                                                        value="female" formControlName="beneficiary_gender">
                                                    <label class="form-check-label" for="female">
                                                        <small>Femenino</small>
                                                    </label>
                                                </div>
                                            </div>
            
                                            <div class="col-12 mt-4">
                                                <h6 class="text-primary">Datos sobre el colegio</h6>
                                                <p><small>( Si el beneficiario estudia en colegio, diligencie esta  información )</small></p>
                                            </div>
                                            <div class="col-4" *ngIf="!isDisabled">
                                                <label for="exampleSelect1" class="form-label mt-4">Curso</label>
                                                <select class="form-select" formControlName="beneficiary_grade" id="beneficiary_grade">
                                                    <option value="-1">Seleccione...</option>
                                                    <option value="0">Transicion</option>
                                                    <option value="1">Primero</option>
                                                    <option value="2">Segundo</option>
                                                    <option value="3">Tercero</option>
                                                    <option value="4">Cuarto</option>
                                                    <option value="5">Quinto</option>
                                                    <option value="6">Sexto</option>
                                                    <option value="7">Septimo</option>
                                                    <option value="8">Octavo</option>
                                                </select>
                                                <span *ngIf="isDisabledBenGrade">
                                                    <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                </span>
                                            </div>
                                            <div class="col-4" *ngIf="!isDisabled">
                                                <label for="exampleSelect1" class="form-label mt-4">Calendario</label>
                                                <select class="form-select" formControlName="beneficiary_calendar" id="beneficiary_calendary" >
                                                    <option value="-1">Seleccione...</option>
                                                    <option value="0">Calendario A - 11 Grados</option>
                                                    <option value="1">Calendario B - 11 Grados</option>
                                                    <option value="2">Calendario B - 12 Grados</option>
                                                </select>
                                                <span *ngIf="isDisabledBenCalendar">
                                                    <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row mt-3 text-center" style="width: 70%;">
                                        <div class="col-6" *ngIf="!second_beneficiary">
                                            <button type="button" class="btn btn-yo" 
                                                (click)="addBeneficiary()">Agregar beneficiario</button>
                                        </div>                                
                                        <div class="col-3" *ngIf="!second_beneficiary">
                                            <button type="button" class="btn btn-yo"
                                                (click)="generateInsuranceQuote()">Cotizar</button>
                                        </div>
                                        <div class="col-3" *ngIf="!second_beneficiary">
                                            <button type="button" class="btn btn-yo"
                                                (click)="addProduct()">Guardar</button>
                                        </div>                                
                                    </div>
                                    <div class="container-fluid mt-4 text-warning">
                                        <p><small> Los campos con <strong>*</strong> son de caracter obligatorio</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>                
                        
                        <div class="accordion-item" *ngIf="second_beneficiary">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button cmp-accordion__button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="cmp-accordion__number title-h1">03</span>Datos segundo beneficiario seguro educativo
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-8">
                                                <label class="form-label mt-4" for="inputValid">Nombres Y Apellidos <span
                                                        class="text-warning">*</span></label>
                                                <input formControlName="beneficiary_name_2" type="text" class="form-control"
                                                    placeholder="Ingrese el nombre completo" >
                                                    <span *ngIf="isDisabledBenName2">
                                                        <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                    </span>
                                            </div>
                                            <div class="col-4">                                        
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Fecha de nacimiento <span
                                                        class="text-warning">*</span></label>
                                                <input formControlName="beneficiary_birthdate_2" type="date" class="form-control"
                                                    id="beneficiary_birthdate" [max]="now" placeholder="Ingrese fecha de nacimiento"
                                                    (change)="ageCalculatorBeneficiary_2()">
                                                    <span *ngIf="isDisabledBenBirth2">
                                                        <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                    </span>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="beneficiary_age_2">Edad</label>
                                                <input type="number" formControlName="beneficiary_age_2" class="form-control disabled" id="beneficiary_age_2">
                                            </div>

                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Sexo <span class="text-warning">*</span></label>
            
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="beneficiary_gender_2" id="male"
                                                        value="male" formControlName="beneficiary_gender_2">
                                                    <label class="form-check-label" for="male">
                                                        <small>Masculino</small>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="beneficiary_gender_2" id="female"
                                                        value="female" formControlName="beneficiary_gender_2">
                                                    <label class="form-check-label" for="female">
                                                        <small>Femenino</small>
                                                    </label>
                                                </div>
                                            </div>
            
                                            <div class="col-12 mt-4">
                                                <h6 class="text-primary">Datos sobre el colegio</h6>
                                                <p><small>( Si el beneficiario estudia en colegio, diligencie esta  información )</small></p>
                                            </div>
                                            <div class="col-4" *ngIf="!isDisabled_2">
                                                <label for="exampleSelect1" class="form-label mt-4">Curso</label>
                                                <select class="form-select" formControlName="beneficiary_grade_2" id="beneficiary_grade_2" >
                                                    <option value="-1">Seleccione...</option>
                                                    <option value="0">Transicion</option>
                                                    <option value="1">Primero</option>
                                                    <option value="2">Segundo</option>
                                                    <option value="3">Tercero</option>
                                                    <option value="4">Cuarto</option>
                                                    <option value="5">Quinto</option>
                                                    <option value="6">Sexto</option>
                                                    <option value="7">Septimo</option>
                                                    <option value="8">Octavo</option>
                                                </select>
                                                <span *ngIf="isDisabledBenGrade2">
                                                    <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                </span>
                                            </div>
                                            <div class="col-4" *ngIf="!isDisabled_2">
                                                <label for="exampleSelect1" class="form-label mt-4">Calendario</label>
                                                <select class="form-select" formControlName="beneficiary_calendar_2" id="beneficiary_calendar_2" >
                                                    <option value="-1">Seleccione...</option>
                                                    <option value="0">Calendario A - 11 Grados</option>
                                                    <option value="1">Calendario B - 11 Grados</option>
                                                    <option value="2">Calendario B - 12 Grados</option>
                                                </select>
                                                <span *ngIf="isDisabledBenCalendar2">
                                                    <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row mt-4 text-center" style="width: 90%;">
                                            <div class="col-3" *ngIf="!third_beneficiary">
                                                <button type="button" class="btn btn-yo" 
                                                    (click)="addBeneficiary2()">Agregar beneficiario</button>
                                            </div>

                                            <div class="col-3" *ngIf="second_beneficiary && !third_beneficiary">
                                                <button type="button" class="btn btn-yo-eliminar"
                                                    (click)="delBeneficiary()">Eliminar beneficiario</button>
                                            </div>
                                            
                                            <div class="col-3" *ngIf="!third_beneficiary">
                                                <button type="button" class="btn btn-yo"
                                                    (click)="generateInsuranceQuote()">Cotizar</button>
                                            </div>

                                            <div class="col-3" *ngIf="!third_beneficiary">
                                                <button type="button" class="btn btn-yo"
                                                    (click)="addProduct()">Guardar</button>
                                            </div>                              
                                    </div>
                                    <div class="container-fluid mt-4 text-warning">
                                        <p><small> Los campos con <strong>*</strong> son de caracter obligatorio</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item" *ngIf="third_beneficiary">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button cmp-accordion__button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span class="cmp-accordion__number title-h1">04</span>Datos tercer beneficiario seguro educativo
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-8">
                                                <label class="form-label mt-4" for="inputValid">Nombres Y Apellidos <span
                                                        class="text-warning">*</span></label>
                                                <input formControlName="beneficiary_name_3" type="text" class="form-control"
                                                    placeholder="Ingrese el nombre completo" >
                                                    <span *ngIf="isDisabledBenName3">
                                                        <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                    </span>
                                            </div>
                                            <div class="col-4">                                        
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Fecha de nacimiento <span
                                                        class="text-warning">*</span></label>
                                                <input formControlName="beneficiary_birthdate_3" type="date" class="form-control" 
                                                    id="beneficiary_birthdate" [max]="now" placeholder="Ingrese fecha de nacimiento"
                                                    (change)="ageCalculatorBeneficiary_3()">
                                                    <span *ngIf="isDisabledBenBirth3">
                                                        <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                    </span>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Edad</label>
                                                <input type="number" formControlName="beneficiary_age_3" class="form-control disabled" id="inputValid">
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label mt-4" for="inputValid">Sexo <span class="text-warning">*</span></label>
            
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="beneficiary_gender_3" id="male"
                                                        value="male" formControlName="beneficiary_gender_3">
                                                    <label class="form-check-label" for="male">
                                                        <small>Masculino</small>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="beneficiary_gender_3" id="female"
                                                        value="female" formControlName="beneficiary_gender_3">
                                                    <label class="form-check-label" for="female">
                                                        <small>Femenino</small>
                                                    </label>
                                                </div>
                                            </div>
            
                                            <div class="col-12 mt-4">
                                                <h6 class="text-primary">Datos sobre el colegio</h6>
                                                <p><small>( Si el beneficiario estudia en colegio, diligencie esta  información )</small></p>
                                            </div>
                                            <div class="col-4" *ngIf="!isDisabled_3">
                                                <label for="exampleSelect1" class="form-label mt-4">Curso</label>
                                                <select class="form-select" formControlName="beneficiary_grade_3" id="beneficiary_grade_3" >
                                                    <option value="-1">Seleccione...</option>
                                                    <option value="0">Transicion</option>
                                                    <option value="1">Primero</option>
                                                    <option value="2">Segundo</option>
                                                    <option value="3">Tercero</option>
                                                    <option value="4">Cuarto</option>
                                                    <option value="5">Quinto</option>
                                                    <option value="6">Sexto</option>
                                                    <option value="7">Septimo</option>
                                                    <option value="8">Octavo</option>
                                                </select>
                                                <span *ngIf="isDisabledBenGrade3">
                                                    <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                </span>
                                            </div>
                                            <div class="col-4" *ngIf="!isDisabled_3">
                                                <label for="exampleSelect1" class="form-label mt-4">Calendario</label>
                                                <select class="form-select" formControlName="beneficiary_calendar_3" id="beneficiary_calendar_3" >
                                                    <option value="-1">Seleccione...</option>
                                                    <option value="0">Calendario A - 11 Grados</option>
                                                    <option value="1">Calendario B - 11 Grados</option>
                                                    <option value="2">Calendario B - 12 Grados</option>
                                                </select>
                                                <span *ngIf="isDisabledBenCalendar3">
                                                    <div class="text-danger mt-1"><small>El campo es requerido</small></div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row mt-3 text-center" style="width: 70%;">   
                                        <div class="col-6" *ngIf="third_beneficiary">
                                            <button type="button" class="btn btn-yo-eliminar"
                                                (click)="delBeneficiary2()">Eliminar beneficiario</button>
                                        </div>                               
                                        <div class="col-3">
                                            <button type="button" class="btn btn-yo"
                                                (click)="generateInsuranceQuote()">Cotizar</button>
                                        </div>
                                        <div class="col-3" >
                                            <button type="button" class="btn btn-yo"
                                                (click)="addProduct()">Guardar</button>
                                        </div>                                
                                    </div>
                                    <div class="container-fluid mt-4 text-warning">
                                        <p><small> Los campos con <strong>*</strong> son de caracter obligatorio</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>