
.cmp-accordion {
    padding: 32px 0;
}

.cmp-accordion__tittle{
    margin-bottom: 64px;
}

.cmp-accordion__number{
    color: #004C92;
    font-family: VAGRoundedStd;
}

.cmp-accordion__button{
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #00328C;
    font-family: VAGRoundedStd-Bold ;
}


.cmp-accordion__number:not(.collapsed){
    color: #00328C;
}

.cmp-accordion__button.collapsed{
    color: #ffffff;
    background-color: #ffffffb4;
}

.accordion-button{
    background-color: #ffffff00;
}
.accordion-button:not(.collapsed){
    background-color: #ffffffa2!important;
    color: #00328C!important;
    font-weight: bold;
}

.accordion-button.collapsed{
    background-color: #ffffff00!important;
    color: #00328C!important;
    font-weight: bold;
}


.accordion-item{
    border: none;
    background-color: #ffffff00;
    color: #00315f;
    font-weight: bold;
}

.accordion-header{
    background-color: #ffffff00;
    border-radius: 0 2rem 0 0 ;
}

.accordion-button{
    border-bottom: 1px solid #00328C;
    gap: 16px;
    border-radius: 0 2rem 0 0 ;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
    border-radius: 0 2rem 0 0 ;
}

.accordion-button:focus{
    box-shadow: none;
    border-radius: 0 2rem 0 0 ;
}


.accordion-container {
    padding: 15px;    
    background-color:#ffffff79;
    height: 100%;
    border-radius: 0 0 1rem 1rem;
}

.form-select{
    border-radius:1.0rem;
}

.form-control {
    border-radius:1.0rem;
}

.title-h1{
    font-family: 'Poppins';
    font-style: normal; 
    font-weight: 700;
    font-size: 35px;
    line-height: 150%;
}

.principal-title{
    background-color: #00328C;
    padding: 3px;
    padding-left: 50px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 1rem 1rem 0 0;
   
}

.btn-yo{
    padding: 7px 12px;
    color: #f4f4f4;
    width: 100%;
    border-radius:1.0rem;
    border: none;
    background:  #4274a3;
    background: -webkit-linear-gradient(to right , #356da1, #00328C);
    background: linear-gradient(to right , #356da1, #00328C);
    
}

.btn-yo:hover{
    color: #f4f4f4;
    background-color: #a8a50e;
}


.btn-yo-eliminar{
    padding: 7px 12px;
    color: #f4f4f4;
    width: 100%;
    border-radius:1.0rem;
    border: none;
    background:  #4274a3;
    background: -webkit-linear-gradient(to right , #a74b4b, #aa0707);
    background: linear-gradient(to right , #a74b4b, #aa0707);
}

.btn-yo-eliminar:hover{
    color: #f4f4f4;
    background-color: #a8a50e80;
}

.accordion-header-yellow{
    background-color: #ffd300;
    height: 10px;
}


input::placeholder {
    font-size: 11px;
    opacity: 0.4;
  }

  select:required:invalid {
    color: #666;
  }
  
  .select-placeholder {
    font-size: 9px!important;
    opacity: 0.4!important;
  }  

.header{
    width: 100%;
    min-height: 100vh;
    background-image: url(./../../../assets/images/background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed;
    overflow-y: visible;
    }
    
    .header:before{
    content: '';
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(255,255,255,.1), rgba(34,40,49,1));
    }

    .bg-dark{
        position: relative;
        z-index: 20;
        width: 100%;    
        background-color: transparent!important;
        
        }
    