
@font-face {
  font-family: 'VAGRoundedStd';
  src: url('../assets/fonts/VAGRoundedStd-Light.otf') format("woff2");
}
@font-face {
  font-family: 'VAGRoundedStd-Bold';
  src: url('../assets/fonts/VAGRoundedStd-Bold.otf') format("woff2");
}
@font-face {
  font-family: 'VAGRoundedStd-Thin';
  src: url('../assets/fonts/VAGRoundedStd-Thin.otf') format("woff2");
}
@font-face {
  font-family: 'TrebuchetMS';
  src: url('../assets/fonts/trebuc.ttf') format("woff2");
}







.bg-dark{
position: relative;
z-index: 20;
width: 100%;    
background-color: transparent!important;

}


.navg a{
color: #f4f4f4;
font-family: Avenir;
font-size: 23px;
padding: 10px 15px;
text-align: center;
text-transform: uppercase;
}
