<div class="text-header d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Asegura el futuro de tus hijos con<span> Global Seguros</span></h1>
        <p>¿Quieres asegurar el futuro educativo de tus hijos? Nuestra herramienta te ayuda a cotizar seguros educativos para que puedan ingresar a la universidad sin preocupaciones.</p>
        <a href="" class="btn ltn-lg btn-yo" routerLink="/quoter"><span>Cotizar</span></a>
      </div>
    </div>
  </div>
</div>