
<div class="header">
  <div class="bg-dark">
    <app-navbar></app-navbar>
    <div class="text-header d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1><strong>Asegura el futuro de tus hijos con</strong><span class="global"> Global</span><span class="universidad">Universidad Segura</span></h1>
            <p>¿Quieres asegurar el futuro educativo de tus hijos? Nuestra herramienta te ayuda a cotizar seguros educativos para que puedan ingresar a la universidad sin preocupaciones.</p>
            <br><br>
            <a href="" class="btn ltn-lg btn-yo" routerLink="/quoter"><span>COTIZAR</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>