.text-header{
    min-height: 100vh ;
    color: #f4f4f4;
    font-family: 'Montserrat';
}

.text-header h1{
    font-family: 'Anton';
}

.text-header span{
    letter-spacing: 5px;
    font-size: 1.4em;
    font-family: 'Montserrat';
    margin: 0 0 0 5px;
}

.text-header p{
    font-size: 1.3em;
}

.btn-yo{
    padding: 7px 12px;
    color: #f4f4f4;
    background-color:#0e5ea880 ;
}

.btn-yo:hover{
    color: #f4f4f4;
    background-color: #a8a50e80;
}